body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}


#root {
    padding:15%;
}
h1 {
    margin-top: 20px;
}
/* clock */
.clock {
    width: 500px;
    font-size: 30px;
    border: 2px solid black;
    margin-bottom: 30px;
}

.clock p{
    display: flex;
    justify-content: space-between;
    font-family: Orbitron;
    font-weight: bold;
    background-color: orange;
    padding: 15px;
    color: white;
}


/* tabs */
.tabs {
    width: 210px;
    border-radius: 4px;
}


.tab-header {
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 200;
}

.tab-header > li {
    background-color: paleturquoise;
    width:70px;
    padding: 5px;
    border-top: 2px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;    
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
}

.tab-header > li:last-child {
    border-right: 2px solid black;
}

.tab-header > li:first-child {
    border-left: 2px solid black;
}

.tab-header > li:hover {
    color: white;
    background-color: black;
}

.tab-content {
    height: 120px;
    padding-top: 35%;
    text-align: center;
    color: white;
    border: 2px solid black;
    background-color: paleturquoise;
    border-radius: 0px 0px 10px 10px;
    border-top: 0px;
}

.active {
    font-weight: 700;
}

.inactive {
    border-bottom: 2px solid black;
}

/* weather */

.weather {
    width: 500px;
    height: 120px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: lightblue;
    font-size: 30px;
    font-weight: 300;
}

.weather > li {
    list-style: none;
    display:flex;
    padding: 15px;
    justify-content: space-between;
    text-align: center; 
}