body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#root {
    padding:15%;
}
.clock {
    width: 60%;
    font-size: 30px;
    border: 1px solid black;
}

.clock p{
    display: flex;
    justify-content: space-between;
    font-family: Orbitron;
    font-weight: bold;
    background-color: orange;
    padding: 15px;
    color: white;
   
}

