
<%# Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100% %>
<div class= "masthead"> 
    <div class='language-nav'>
        <ul>
        <li><a href=''>CSS</a></li>
        <li><a href=''>HTML</a></li>
        <li><a href=''>JAVASCRIliT</a></li>
        <li><a href=''>RUBY</a></li>
        </ul>
    </div>

    <div class="logo">
        <img src="assets/AA_Times_Logo.png" alt="logo">
    </div>

   <ul>
   
   <div class="masthead-links">
        <li><time>Tuesday, October 18, 2016</time></li>
        <li><i class="far fa-newspaper"></i><a href="">Today’s Paper</a></li>
        <li><i class="fas fa-video"></i> <a href="">Video</a></li>
        <li><button>77°F</button></li>
        <li><button> AAO +100%</button> 
    </div>

</div>




